* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Space Mono', monospace;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://drive.google.com/file/d/1s-bEz7AzpvhWp3FJcpmpSEQ-2nH4HF9c/view?usp=sharing');
}

header {
	background-color: transparent;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.site-name {
	width: 40%;
	margin-left: 10%;
}

.site-name p {
	font-size: 24px;
	color: black;
	font-weight: 600;
}
nav {
    font-family: 'Source Serif Pro', serif;
	width: 40%;
	margin-right: 10%;
	text-align: right;
}

nav li {
	display: inline-block;
	margin: 0 0 0 50px;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: black;
    background-color: #FAEFE6;
	text-decoration: none;
}

.large-image {
	background-image: url(images/download-7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 1005;
}

.text-block1 {
	max-width: 550px;
	background-color: #f8c558;
	padding: 50px;
	color: black;
	position: relative;
	top: 200px;
	left: 200px;
	z-index: 4;
	
}

.text-block2 {
	max-width: 550px;
	background-color: #a5a5a5;
	padding: 50px;
	color: black;
	position: relative;
	top: 50px;
	left: 100px;
	z-index: 3;
	
}

.text-block3 {
	max-width: 550px;
	background-color: #414140;
	padding: 50px;
	color: black;
	position: relative;
	top: -50px;
	left: 300px;
	z-index: 2;
	
}

.text-block1:hover,
.text-block2:hover,
.text-block3:hover {
	z-index: 8;
	cursor: hand;
}

h2 {
	font-size: 24px;
	font-weight: 100;
	text-shadow: 1px 3px 7px black;
	margin-top: 30px;
}
/* SIMPLE TWO COLUMS */

.container {
	display: flex;
	align-items: center;
	height: 100vh;
}

section {
	width: 50%;
	padding: 80px;
}

.idk {
	width: 100%;
}

h4 {
	font-weight: 600;
	font-size: 24px;
	color: #453f37;
	line-height: 1.7;
}

/* GARRY BIO */

.boxes {
	background-color: black;
	height: 100vh;
	width: 100%;
	position: relative;
}
	
h5 {
	color: #f0c15a;
	font-size: 4vw;
	font-weight: 400;
	padding: 100px;
}

.box1 {
	width: 600px;
	height: 400px;
	background-image: url(Images/54cac41451062027082017cf_image.jpg);
	background-size: cover;
	position: absolute;
	top: 50px;
	right: 200px;
	z-index: 50;
}

.box2 {
	width: 600px;
	height: 400px;
	background-image: url(Images/csm_Lempertz-1077-112-Photography-Garry-Winogrand-Untitled-from-the-series_634bb0cdb3.jpg);
	background-size: cover;
	position: absolute;
	top: 200px;
	left: 400px;
	z-index: 49;
}

.box3 {
	width: 600px;
	height: 400px;
	background-image: url(Images/csm_Lempertz-1050-125-Photography-Garry-Winogrand-Untitled_3e8bafa2e6.jpg);
	background-size: cover;
	position: absolute;
	bottom: 20px;
	right: 350px;
	z-index: 48;
}

h5:hover {
	position: absolute;
	z-index: 60;
	text-shadow: 2px 3px 4px black;
	cursor: url(images/cursor.png), auto;
}

/* ONE SMALL STEP STYLES */
.header {
	background-color: black;
	font-family:  'Open Sans', sans-serif;
	font-weight: 600;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.onenav {
	width: 40%;
	text-align: center;
	
}

.onenav li{
	background-color: black;
   display: inline-block;
   margin: 0 0 0 50px;
}

.onenav li a {
	margin: 0 10px 0 10px;
	padding: 10px 10px 10px 10px;
}

.onenav a {
   color: fuchsia;
   text-decoration: none;
}

.onenav a:hover {
   color: white;
   text-decoration: none;
}

.hilight {
	background-color: #d9d9d9;
	color: black;
}

.large-image {
	background-image: url(images/one.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100%;
}

.text-block1 {
	max-width: 650px;
	padding: 50px;
	color: black;
	position: relative;
	bottom: -600px;
	left: 650px;
	text-shadow: 3px 3px 0px white;

}

.text {
	font-size: 24px;
	font-weight: 100;
	text-shadow: 1px 3px 0px white;
	margin-top: 30px;
}

/* SIMPLE TWO COLUMS */

.container {
	display: flex;
	align-items: center;
	height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

section {
	width: 50%;
	padding: 80px;
}

.idk {
	width: 100%;
}

.describe {
	font-weight: 300;
	font-size: 1.5vw;
	color: #453f37;
	line-height: 1.7;
}

/* PICTURES */

.boxes {
	background-color: white;
	height: 100vh;
	width: 100%;
	position: relative;
}
	
.box1 {
	width: 700px;
	height: 400px;
	background-image: url(Images/one2.png);
	background-size: cover;
    box-shadow: 10px 10px fuchsia;
	position: absolute;
	top: 50px;
	right: 600px;
	z-index: 5;
}

.box2 {
	width: 700px;
	height: 400px;
	background-image: url(Images/one2.gif);
	background-size: cover;
    box-shadow: 10px 10px fuchsia;
	position: absolute;
	bottom: 150px;
	left: 150px;
	z-index: 4;
}

.box3 {
	width: 700px;
	height: 400px;
	background-image: url(Images/one4.gif);
	background-size: cover;
    box-shadow: 10px 10px fuchsia;
	position: absolute;
	top: 600px;
	right: 400px;
	z-index: 3;
}

.box1:hover,
.box2:hover,
.box3:hover {
    z-index: 8;
}

h5 {
	color: black;
    text-shadow: 2px 3px 0px white;
	font-size: 4vw;
	font-weight: 400;
	padding: 100px;
}

h5:hover {
	position: absolute;
    left: 100px;
	z-index: 60;
}


















